@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
body{
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #070714,#071a30,#070714);
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    color:#230730;
}

#mainlogo{
    height:40px;
    width:40px;
}

.dark-navbar{
    background:#041b30d3;
    margin:0%;
    border-bottom:2px solid rgba(102, 222, 252, 0.637);
    box-shadow: 0px 0px 30px #070714;
}

li.nav__item a{
    color:rgba(119, 215, 241, 0.726);
}

li.nav__item a:hover{
    color:rgba(185, 237, 252, 0.623);
    text-decoration: none;
}

.nav__item{
    font-size:1.3rem;
    /* margin: 5% 10%; */
    margin: 10px;
    color:rgba(144, 233, 255, 0.637);
    font-family: 'Rajdhani', sans-serif;
}

.navbar-toggler-icon{
    background-image: url("https://cdn2.iconfinder.com/data/icons/menu-white/64/menu_white_buttom__navbar-512.png")!important;
}

.app__body{
    min-height: 100vh;
}