.Rules__body {
  font-family: "Tomorrow";
  font-family: "rajdhani",sans-serif;
  font-size:2.5vh;
  font-weight: 500;
  height: 100%;
  padding-top:2%;
  transition: all 0.3s ease-in-out;
}

.Rules__body ul li{
  margin:2%;
}
body {
  background-color: #0f1020;
  color: #fff;
}
.Side__Heading {
  font-family: "Tomorrow";
  font-weight: bolder;
  font-size: 10vh;
  -webkit-text-stroke: 1px #0f1020;
  color: #0f100f;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 rgba(115, 19, 233, 0.582),
    0 -2px 0 rgba(115, 19, 233, 0.582), 1px 1px rgba(115, 19, 233, 0.582),
    -1px -1px 0 rgba(115, 19, 233, 0.582), 1px -1px 0 #fff,
    -1px 1px 0 rgba(115, 19, 233, 0.582);
  /* animation: glow 1s ease-in-out;
  transition: all 0.3s ease-in-out; */
}
.Rules__SideHead {
  width: 0.2 vw;
  padding-right: -0.2 vw;
}
.Rules__List {
  border-left: -5%;
  font-size: x-large;
  color: #fff;
}
/* .Side__Heading:hover {
  transform: scale(1.5);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgba(115, 19, 233, 0.582), 0 0 20px rgba(115, 19, 233, 0.582),
    0 0 25px rgba(115, 19, 233, 0.582), 0 0 30px rgba(115, 19, 233, 0.582), 0 0 35px;
}*/
/* .Rules__ListCont {
  animation: glow 1s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-top: 0.5vh;
}
.Rules__ListCont:hover {
  transform: scale(1.02);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgba(115, 19, 233, 0.582),
    0 0 20px rgba(115, 19, 233, 0.582), 0 0 15px rgba(115, 19, 233, 0.582),
    0 0 20px rgba(115, 19, 233, 0.582), 0 0 15px;
} */
