.Rules__body {
  font-family: "Tomorrow";
  font-weight: 500;
  height: 100%;
  margin-top: 5%;
}
body {
  background-color: #0f1020;
  color: #fff;
}
.Side__Heading {
  font-family: "Tomorrow";
  font-weight: bolder;
  font-size: 4em;
  animation: glow 1s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.Rules__SideHead {
  width: 0.2vw;
  padding-right: -0.2vw;
}
.Rules__List {
  border-left: -5%;
  font-size: x-large;
  color: #fff;
}
.Side__Heading:hover {
  transform: scale(1.5);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #2fd8d8, 0 0 20px #2fd8d8,
    0 0 25px #2fd8d8, 0 0 30px #2fd8d8, 0 0 35px;
}
.Rules__ListCont {
  animation: glow 1s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-top: 0.5vh;
}
.Rules__ListCont:hover {
  transform: scale(1.02);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #2fd8d8, 0 0 20px #2fd8d8,
    0 0 25px #2fd8d8, 0 0 30px #2fd8d8, 0 0 35px;
}
