.Rules__body {
  font-family: "Tomorrow";
  font-family: "rajdhani",sans-serif;
  font-size:2.8vh;
  opacity:0.85;
  font-weight: 500;
  height: 100%;
  padding-top:2%;
  transition: all 0.3s ease-in-out;
}

.Rules__body ul li{
  margin:2%;
}
body {
  background-color: #0f1020;
  color: #fff;
}