# Server
node_modules
.env
package-lock.json

# Database credentials
#/Database/Config/credentials.json 

# Constants
/client/src/Helper/Constants.js
/Router/Admin/constants.js


# Client
/client/node_modules
/client/package-lock.json