.loader{
  align-items: center;
  background: rgba(23, 22, 22, 0.9);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
  position: fixed;
}

.text-light{
  color: aqua !important;
}

/*
@author: ishivanshgoel
@Reference: https://css-tricks.com/lets-make-a-fancy-but-uncomplicated-page-loader/
*/ 