.team__heading{
  text-align: center;
  margin:0%;
  margin-top: 3%;
}

.bluecolor{
  color:rgb(4, 182, 226);
}

.teams__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px auto;
}

.member-2{
  display: flex;
  margin:2% 40%;
  justify-content: center;
  align-items: center;
}

.card-div{
  width:14rem;
  background:transparent;
  margin:2%;
  box-shadow: none;
  border: none;
  transition: ease-out 0.2s;
  opacity:0.8
  ;
}
.card-div:hover{
  opacity:1;
  cursor: pointer;
}
.copyright-teams{
  text-align:center;
  font-size:22px;
  border-top: rgba(118, 223, 255, 0.877) 2px solid;
}

.card-div:hover .card-content{
  opacity:1;
}

.content-card{
  margin:2%;
  text-align: center;
}

.card-name{
  color:rgb(1, 182, 206);
}

.member-image{
  height:160px;
  width:160px;
  border-radius: 20px;
  margin:6% auto;
}

.social-logo{
  width:25px;
  height:25px;
  margin:0 10px;
  margin-top: 0;
  opacity: 0.5;
}

.social-logo:hover{
  opacity:0.9;
}