$black: #0F1020;
$blackLight: #151830;
//grays
$gray-900: #5E5F84;
$gray-600: #70719C;
$gray-300: #7F83A2;

//white
$white: #B3B5D2;

$blue: #383CAB;
$green: #249163;
$red: #BF2E50;
$yellow: #A4852F; 

//sizing

$space-size: 8px;
$space-size-2: $space-size * 2;
$space-size-3: $space-size * 3;
$space-size-4: $space-size * 4;
$space-size-5: $space-size * 5;
$space-size-6: $space-size * 6;
$space-size-7: $space-size * 7;
$space-size-8: $space-size * 8;

*{
    box-sizing: border-box;
}
html,body,input{
    font-family: 'Tomorrow';
    font-weight: 500;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13.5px !important;
    color: $white;
    background: $black;
}
h1{
    font-size: 24px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    width: 100%;
    padding: 0px 0 56px 0;

}
.container{
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 70px;
}
.editor-field {
  width: 300px;
  height: 64px; //$space-size-6;
  position: relative;
  margin: $space-size-2 - 2 0;
  .noise__el {
    fill: $gray-600;
  }
  &__noise {
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: calc(100% + 2px);
    z-index: 2;
    pointer-events: none;
  }
  &__container {
    clip-path: polygon(
      0% 0%,
      calc(100% - 8px) 0,
      100% 8px,
      100% 100%,
      95% 100%,
      calc(0% + 8px) 100%,
      0% calc(100% - 8px),
      0% calc(100% + 8px)
    );
    border: 2px solid $gray-900;
    width: 100%;
    height: $space-size-6;
    position: absolute;
    bottom: 2px;
      &:before, &:after{
        content: "";
        height: 2px;
        width: 11.5px;
        background: $gray-900;
        display: block;
        position: absolute;
        z-index: 1;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border-radius: 5px;
    }
    &:before {
     right: -3.1px;
      top: 1.6px;
  }
    &:after {
      left: -3.1px;
      bottom: 1.6px;
    }
  }

  &__bottom {
    position: absolute;
    content: "";
    display: block;
    height: $space-size / 4;
    width: 30%;
    background: $gray-900;
    right: 0px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, calc(0% + 2px) 100%);
    bottom: 0px;
  }

  &__label-container {
    position: absolute;
    top: 0px;
    &:after {
      position: absolute;
      content: "";
      display: block;
      height: 2px;
      width: 32px;
      background: $gray-900;
      right: -29px;
      -webkit-clip-path: polygon(0 0, calc(100% - 2px) 0%, 100% 100%, 22% 100%);
      clip-path: polygon(0 0, calc(100% - 2px) 0%, 100% 100%, 0% 100%);
      bottom: 2px;
    }
  }
  &__label {
    position: relative;
    display: block;
    height: $space-size-2;
    width: auto;
    background: $gray-900;
    left: 0px;
    color: $black;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-weight: 600;
    padding: 0 $space-size-3 0 $space-size-2;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 0% 100%);
  }
  &__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: $black;
    color: $white;
    padding: $space-size $space-size-2;
    letter-spacing: 0.2px;
    &:focus {
      animation: 0.05s infinite alternate blink;

      @keyframes blink {
        from {
          background: $black;
        }
        to {
          background: lighten($black, 1%);
        }
      }
    }
  }
  $parent: &;
  &:hover,
  &.is-focused {

    #{$parent}__bottom {
      background: $gray-600;
    }
    #{$parent}__container {
      border-color: $gray-600;
      &:after,
      &:before {
        background: $gray-600 !important;
      }
    }
    #{$parent}__label-container {
      &:after {
        background: $gray-600;
      }
    }
    #{$parent}__label,
    #{$parent}__helper {
      background: $gray-600;
    }
  }
}

.btn {
  display: inline-block;
  position: relative;
  height: $space-size-7 - 6;
  margin-top: $space-size-4;
  cursor: pointer;
  &__noise {
    position: absolute;
    top: -28%;
    height: 66px;
    width: 100%;
    pointer-events: none;
  }
  &--primary {
    .btn__container {
      background: $blue;
      border-color: lighten($blue, 10%);
      display: flex;
      align-items: center;
      line-height: 10px;
      pointer-events: none;
      color: lighten($blue, 47%);
      
    }
    .noise__el {
      fill: lighten($blue, 10%);
    }
    &:hover {
      .btn__container {
        background: darken($blue, 3%);
        border-color: lighten($blue, 8%);
      }
      .btn__bottom {
        background: darken($blue, 3%);
        border-color: lighten($blue, 8%);
      }
    }
    &:active{
      .btn__container {
        background: darken($blue, 8%);
        border-color: lighten($blue, 2%);
        color: lighten($blue, 40%);
      }
      .btn__bottom {
        background: darken($blue, 8%);
        border-color: lighten($blue, 2%);
      }
    }
  }
   &:before, &:after{
    content: "";
    height: 2px;
    width: 11px;
    background: lighten($blue, 10%);
    display: block;
    position: absolute;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 2px;
    border-radius: 2px;
  }
  &:before {
    right: -1.07px;
    top: 4px;
  }
  &:after {
    left: -1.07px;
    bottom: 6px;
  }
  &__bottom {
    position: absolute;
    content: "";
    display: block;
    height: $space-size / 2;
    width: 50%;
    background: $blue;
    pointer-events: none;
    right: 0px;
    bottom: 0px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, calc(0% + 4px) 100%);
    border-bottom: 2px solid lighten($blue, 10%);
    border-right: 2px solid lighten($blue, 10%);
    &:before {
      content: "";
      height: 2px;
      width: 11px;
      background: lighten($blue, 10%);
      display: block;
      position: absolute;
      left: -5px;
      bottom: 2px;
      z-index: 1;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &__container {
    height: 100%;
    background: none;
    border: none;
    color: white;
    padding: 0 $space-size-3;
    height: $space-size-6;
    border: 2px solid;
    clip-path: polygon(
      0% 0%,
      calc(100% - 8px) 0,
      100% 8px,
      100% 100%,
      95% 100%,
      calc(0% + 8px) 100%,
      0% calc(100% - 8px),
      0% 20%
    );
  }
}
