@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
.Countdown_heading {
  background-position: center;
  color: rgba(118, 223, 255, 0.877);
  width: 100%;
  height: 90vh;
}
.Countdown-txt {
  color: white;
  font-size: 40px;
  white-space: nowrap;
}
.Countdown-txt:after {
  content: "]";
}
.Countdown-txt:before {
  content: "[";
}
.Countdown-txt:after,
.Countdown-txt:before {
  color: rgba(118, 223, 255, 0.877);
  font-size: 48px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  margin: 0 50px;
}
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% auto;
  margin-top: 0;
  justify-content: center;
  width: 100%;
  height: 75%;
  font-family: "Rajdhani", sans-serif;
}
.timer div:first-child {
  text-align: center;
  padding: 0.5%;
  margin: 0 auto;
}
.timer div:first-child h2 {
  font-size: 40px;
}
.timer div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1%;
  margin: 0 auto;
  text-align: center;
}
.timer_section p:first-child {
  font-size: 100px;
  font-weight: 700;
  margin: 0 15px;
  border-bottom: 2px solid white;
  height: 125px;
  padding-bottom: 1%;
  width:120px;
}
.timer_label {
  font-size: 20px;
  margin: 0 15px;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 610px) {
  .timer_section p:first-child {
    font-size: 70px;
    margin: 0 10px;
    padding-bottom: 1%;
    height: 80px;
    width:95px;
  }
  .Countdown-txt {
    font-size: 30px;
    text-align: center;
  }
  .Countdown-txt:after,
  .Countdown-txt:before {
    font-size: 35px;
  }
  .timer_label {
    font-size: 18px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 490px) {
  .timer_section p:first-child {
     width:80px;
  }
}
@media screen and (max-width: 420px) {
  .timer_section p:first-child {
    font-size: 50px;
    margin: 0 5px;
    padding-bottom: 2px;
    height: 63px;
    width:70px;
  }
  .Countdown-txt {
    font-size: 25px;
  }
  .Countdown-txt:after,
  .Countdown-txt:before {
    font-size: 30px;
  }
  .timer_label {
    font-size: 18px;
    margin: 0 5px;
  }
}

@media screen and (max-width: 355px) {
  .timer_section p:first-child {
    font-size: 50px;
    margin: 0 5px;
    padding-bottom: 2px;
    height: 63px;
  }
  .Countdown-txt {
    font-size: 20px;
  }
  .Countdown-txt:after,
  .Countdown-txt:before {
    font-size: 15px;
  }
  .timer_label {
    font-size: 13px;
    margin: 0 5px;
  }
}
@media screen and (max-width: 320px) {
  .timer_section p:first-child {
    font-size: 40px;
    margin: 0 3px;
    padding-bottom: 2px;
    height: 48px;
    width:55px;
  }
  .Countdown-txt {
    font-size: 10px;
  }
  .Countdown-txt:after,
  .Countdown-txt:before {
    font-size: 15px;
  }
  .timer_label {
    font-size: 8px;
    margin: 0 5px;
  }
}
