@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
.Playarea_heading{
    font-family:'Rajdhani', sans-serif;
}
.play{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile_level,.profile_rank{
    margin:1%;
    height:20vh;
    color:white;
    font-size:25px;
}
.play_question{
   margin:1%;
   align-items: center;
   font-size:20px;
}
.play_img{
    margin:1%;
    margin-bottom:0;
}
.play_answer{
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top:0;
    margin-bottom:0;
}

.play_btn{
    
    border: 0 solid;
    padding:0.5%;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(44, 197, 243, 0.877);
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    color:white;
    background-color:rgba(44, 197, 243, 0.877);
    font-size:18px;
    width:130px;
    text-align: center;
}
.play_btn:hover{
    border: 1px solid;
    box-shadow: 0 0 10px rgba(116, 227, 255, 0.966), 0 0 20px rgba(43, 3, 95, 0.24);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color : rgba(213, 247, 255, 0.966);
}
.input_div {
  float: left;
  width: 27.33%;
  margin: 40px 3%;
  position: relative;
} /* necessary to give position: relative to parent. */
.play_input:focus {
  outline: none;
}
.play_input{
  font: 15px/24px 'Rajdhani', sans-serif;
  color: white;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  padding:1%;
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

.play_input ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 99;
}
.play_input ~ .focus-border:before,
.play_input ~ .focus-border:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(118, 223, 255, 0.877);
  transition: 0.4s;
}
.play_input ~ .focus-border:after {
  left: auto;
  right: 0;
}
.play_input:focus ~ .focus-border:before,
.play_input:focus ~ .focus-border:after,
.has-content.play_input ~ .focus-border:before,
.has-content.play_input ~ .focus-border:after {
  width: 50%;
  transition: 0.4s;
}
.play_input ~ label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 9px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}
.play_input:focus ~ label,
.has-content.play_input ~ label {
  top: -16px;
  font-size: 12px;
  color: rgba(118, 223, 255, 0.877);
  transition: 0.3s;
}