@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
.Playarea_heading {
  font-family: "Rajdhani", sans-serif;
}
.play {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.profile_level,
.profile_rank {
  margin: 1%;
  height: 20vh;
  color: white;
  font-size: 25px;
}
.play_img {
  align-items: center;
  width: 35%;
  margin: 0 auto;
  height: 30%;
}
.play_answer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.play_btn {
  border: 0 solid;
  padding: 2%;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(44, 197, 243, 0.877);
  outline-offset: 0px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  color: white;
  background-color: rgba(44, 197, 243, 0.877);
  font-size: 18px;
  width: 130px;
  text-align: center;
  margin-bottom: 50px;
}
.play_btn:hover {
  border: 1px solid;
  box-shadow: 0 0 10px rgba(116, 227, 255, 0.966),
    0 0 20px rgba(43, 3, 95, 0.24);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  color: rgba(213, 247, 255, 0.966);
}
.input_div {
  float: left;
  width: 27.33%;
  margin: 40px 3%;
  position: relative;
} /* necessary to give position: relative to parent. */
.play_input:focus {
  outline: none;
}
.play_input {
  font: 15px/24px "Rajdhani", sans-serif;
  color: white;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  padding: 1%;
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}
.play_input ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 99;
}
.play_input ~ .focus-border:before,
.play_input ~ .focus-border:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(118, 223, 255, 0.877);
  transition: 0.4s;
}
.play_input ~ .focus-border:after {
  left: auto;
  right: 0;
}
.play_input:focus ~ .focus-border:before,
.play_input:focus ~ .focus-border:after,
.has-content.play_input ~ .focus-border:before,
.has-content.play_input ~ .focus-border:after {
  width: 50%;
  transition: 0.4s;
}
.play_input ~ label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 9px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}
.play_input:focus ~ label,
.has-content.play_input ~ label {
  top: -16px;
  font-size: 12px;
  color: rgba(118, 223, 255, 0.877);
  transition: 0.3s;
}
.editor-field-playarea {
  width: 100px;
  height: 64px;
  position: relative;
  margin: 14px 0;
  margin-left: 2%;
}
.editor-field__container-playarea {
  clip-path: polygon(
    0% 0%,
    calc(100% - 8px) 0,
    100% 8px,
    100% 100%,
    95% 100%,
    calc(0% + 8px) 100%,
    0% calc(100% - 8px),
    0% calc(100% + 8px)
  );
  border: 2px solid #018594;
  width: 100%;
  height: 48px;
  font-size: 23px;
  position: absolute;
  bottom: 2px;
  text-align: center;
}
.editor-field__container-playarea:before,
.editor-field__container-playarea:after {
  content: "";
  height: 2px;
  width: 11.5px;
  background: #018594;
  display: block;
  position: absolute;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 5px;
}
.editor-field__container-playarea:before {
  right: -3.1px;
  top: 1.6px;
}
.editor-field__container-playarea:after {
  left: -3.1px;
  bottom: 1.6px;
}
.editor-field__label-container {
  position: absolute;
  top: 0px;
}
.editor-field__label {
  position: relative;
  display: block;
  height: 16px;
  width: auto;
  background: #018594;
  left: 0px;
  color: #0f1020;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-weight: 600;
  padding: 0 24px 0 16px;
  display: flex;
  align-items: center;
  clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 0% 100%);
}
.editor-field__input-playarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: #0f1020;
  color: #b3b5d2;
  padding: 8px 16px;
  letter-spacing: 0.2px;
}
.editor-field:hover .editor-field__container-playarea,
.editor-field.is-focused .editor-field__container-playarea {
  border-color: #56c9d6;
}
.editor-field:hover .editor-field__container-playarea:after,
.editor-field:hover .editor-field__container-playarea:before,
.editor-field.is-focused .editor-field__container-playarea:after,
.editor-field.is-focused .editor-field__container-playarea:before {
  background: #56c9d6 !important;
}
.editor-field:hover .editor-field__label-container:after,
.editor-field.is-focused .editor-field__label-container:after {
  background: #56c9d6;
}
.editor-field:hover .editor-field__label,
.editor-field.is-focused .editor-field__label {
  background: #56c9d6;
}
.playarea-btn {
  height: 100%;
  margin: 2%;
}
.playarea-btn-back {
  background-color: #018594;
}
.playarea-btn-back:hover,
.playarea-btn-back:focus {
  background-color: #018594;
}
.dropback{
  background:#029eaf73;
}
.logout-button,.logout-button:hover{
  background:transparent;
  color:white;
  font-size:18px;
}

@media screen and (max-width: 770px) {
  .editor-field-playarea {
    width: 75px;
  }
  .play_btn {
    width: 90vw;
    font-size: 20px;
    padding: 1%;
  }
  .dropdown-menu {
    min-width: 90px;
  }
  .logout-button {
    width: 100%;
    font-size:15px
  }
  .logout-button:hover{
    font-size: 15px;
  }
  .play_img {
    width: 90%;
    height: 50%;
  }
  .play_input {
    width: 100%;
    font-size: 25px;
  }
  .input_div {
    margin: 40px auto;
    width: 90%;
  }
  .playarea-btn {
    margin: 5% 2%;
  }
}
