
.logo{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10% 0;
}
#symbol{
    height: 140px;
    width: auto;
}
.paradox_logo{
  height: 60vh;
  width: 80vw;
}
.ParadoxLogoMobile{
  height: 19vh;
  width: 90vw;
}
.homepage__main{
    height: 100vh;
}

.button-outer-box{
    margin:1% auto;
    display:inline-block;
}

.homepage__about-section{
    width:70%;
    margin:2% auto 0;
    background-color:#04c2fc11;
    background:transparent;
    display:block;
}


h2.about-heading {
  overflow: hidden;
  text-align: center;
  text-shadow: 0px 0px 50px 20px rgb(3, 121, 121),0px 0px 50px 30px #0ff;
}

h2.about-heading:before,
h2.about-heading:after {
    background-color: rgba(118, 223, 255, 0.877);
    content: "";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    text-shadow: 0px 0px 50px 20px rgb(3, 121, 121),0px 0px 50px 30px #0ff;
}

h2.about-heading:before {
  right: 0.5em;
  margin-left: -50%;
}

h2.about-heading:after {
  left: 0.5em;
  margin-right: -50%;
}

.section-description{
    font-size:2.5vh;
    margin:3%;
    padding:2%;
    white-space: pre-line;
    word-break: break-word;
}

.about-heading{
    font-size:45px;
    margin:0 auto 5% auto;
    margin-bottom:3%;
    background-color: transparent;

}
.homebtn{
    border: 0 solid;
    padding:5% 20%;
    outline: 1px solid;
    outline-color: rgba(213, 247, 255, 0.644);
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    color:rgba(213, 247, 255, 0.712);
    background:rgba(34, 34, 34, 0.068);
    font-size:1.3rem;
    width:14vw;
    text-align: center;
    font-family:"rajdhani", sans-serif;
    width: 100%;
    text-align: center;
}

.homebtn:hover{
    border: 1px solid;
    padding:5% 20%;
    box-shadow: 0 0 10px rgba(116, 227, 255, 0.966), 0 0 20px rgba(43, 3, 95, 0.24);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color : rgba(213, 247, 255, 0.966);
}


#discord{
    background:rgba(115, 8, 255, 0.39);
    background: rgb(115, 121, 207);
    outline:none;
    color:rgba(10, 10, 10, 0.829);
    border-radius:5px;
    font-weight: 600;
     transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
     padding:4% 1%;
}

#DiscordLogo{
    width:30px;
    height:30px;
    margin:0px 5px;
    color:black;
}

#discord:hover{
    outline:none;
    color : rgba(233, 213, 255, 0.966);
}


#discord:hover .colorchange{
    filter: invert(85%) sepia(100%) saturate(7481%) hue-rotate(183deg) brightness(100%) contrast(100%);
}

.highlight{
    color: rgb(118, 223, 255);
}

.homepage__sponsors-section , .homepage__rules-section{
    margin-top:2%;
    background:transparent;
}

.sponsors-section,.Rules-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}

.sponsors-section a{
    margin:2%;
    align-items: center;
    display: flex;
    justify-content: center;
}
#ieeelink{
    margin:2% 20%;
}
#ieeelogo{
    width:30rem;
}
#ieeelogo h3{
    font-weight: 700;
    font-size:40px;
}

.bullet{
    height:15px;
    width:15px;
}

.sponsor-tiles
{
    width:16rem;
    padding:1%;
    justify-content: center;
    background:transparent;
    opacity:0.5;
    transition: 0.3s ease-in-out;
    border:none;
    filter: saturate(0) brightness(2);
    box-shadow: none;
    color:#eee;
}

.sponsor-tiles:hover{
    opacity:1;
    transform:scale(1.1);
    filter:none;
}

.footer{
    margin:5% auto;
    margin-bottom:1%;
    width: 100%;
    background-color:transparent;
    justify-content: center;
    border-top: rgba(118, 223, 255, 0.877) 2px solid;
    border-bottom: rgba(118, 223, 255, 0.877) 2px solid;
    padding:1%;
    color:rgba(255, 255, 255, 0.6);
}
.contact-info h2, .social-panel h2{
    color:rgb(255, 255, 255);
}
.contact-info ul{
    list-style: none;
    padding:0;
}

.site-nav li a{
    color:rgba(255, 255, 255, 0.527);
    text-decoration: none;
}
.copyright{
    text-align:center;
    font-size:22px;
}
.social-logos{
    height:35px;
    width:35px;
    margin: 80px 30px;
}

.homepage__top{
    min-height: 90vh;
}
#footer_logo{
    width: 400px;
}


@media (max-width: 1260px) {
    .social-logos{
        margin: 90px 1vw;
    }
}

/*##### mobile view ###### */
@media only screen and (max-width: 767px) {
    #DiscordLogo__text{
        display: none;
    }
    .social-logos{
        margin: 20px 10px;
    }
    #footer_logo{
        width: 95vw;
    }
}

/**
@author: TejasV58, samankgupta
**/