
.paradox{
    margin-top:8%;
}

.paradox_logo{
    margin:5% auto;
    margin-bottom:0%;
}

.homepage__main{
    height: 100vh;
}

.button-outer-box{
    margin:2% auto;
    display:inline-block;
}

.homepage__about-section{
    width:70%;
    margin:2% auto;
    margin-top:12%;
    margin-bottom:0%;
    background-color:#04c2fc11;
    background:transparent;
    display:block;
}

/*
h2.about-heading span {
    padding-right: 10px;
}

h2.about-heading:after {
    content:"";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 2.5px solid rgba(2, 173, 224, 0.712);
}
*/

h2.about-heading {
  overflow: hidden;
  text-align: center;
  text-shadow: 0px 0px 50px 20px rgb(3, 121, 121),0px 0px 50px 30px #0ff;
}

h2.about-heading:before,
h2.about-heading:after {
    background-color: rgba(118, 223, 255, 0.877);
    content: "";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    text-shadow: 0px 0px 50px 20px rgb(3, 121, 121),0px 0px 50px 30px #0ff;
}

h2.about-heading:before {
  right: 0.5em;
  margin-left: -50%;
}

h2.about-heading:after {
  left: 0.5em;
  margin-right: -50%;
}

.section-description{
    font-size:22px;
    margin:3%;
    padding:2%;
    white-space: pre-line;
    word-break: break-word;
}

.about-heading{
    font-size:45px;
}

.homebtn{
    border: 0 solid;
    padding:5% 20%;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(213, 247, 255, 0.644);
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    color:rgba(213, 247, 255, 0.712);
    background:rgba(34, 34, 34, 0.068);
    font-family:robodron;
    font-size:0.7rem;
    width:14vw;
    text-align: center;
}


.homebtn:hover{
    border: 1px solid;
    padding:5% 20%;
    box-shadow: 0 0 10px rgba(116, 227, 255, 0.966), 0 0 20px rgba(43, 3, 95, 0.24);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color : rgba(213, 247, 255, 0.966);
}

.homepage__sponsors-section{
    margin-top:5%;
    background:transparent;
}

.sponsors-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}

#ieeelogo{
    width:30rem;
    margin:2% 20%;
    text-align: center;
    
}
#ieeelogo h3{
    font-weight: 700;
    margin:2%;
    font-size:40px;
}


.sponsor-tiles
{
    width:16rem;
    margin:2%;
    padding:1%;
    justify-content: center;
    background:transparent;
    opacity:0.5;
    transition: 0.3s ease-in-out;
    border:none;
    filter: saturate(0) brightness(2);
    box-shadow: none;
    color:#eee;
}

.sponsor-tiles:hover{
    opacity:1;
    transform:scale(1.1);
    filter:none;
}

/**
@author: TejasV58
**/