
.logo{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10% 0;
}
#symbol{
    height: 140px;
    width: auto;
}
/*.center__text {
  margin: auto;
  font-family: Robodron;
  font-size: 3.8vw;
  font-weight: bolder;
  text-transform: uppercase;
}
*/

.logo h1.glitch {
  color: #56c9d6;
  font-family: Robodron;
  font-weight: 800;
  position: relative;
  font-size: 3.9vw;
  padding: 60px;
}
.logo:hover > h1.glitch::before, .logo:hover > h1.glitch::after {
  padding: 3.9vw;
  color: #018594;
  content: "PARADOX";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  top: 0;
}
.logo:hover > h1.glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}
.logo:hover > h1.glitch::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(88px, 1000px, 103px, 50px);
  }
  5% {
    clip: rect(69px, 1000px, 49px, 50px);
  }
  10% {
    clip: rect(31px, 1000px, 34px, 50px);
  }
  15% {
    clip: rect(37px, 1000px, 66px, 50px);
  }
  20% {
    clip: rect(60px, 1000px, 44px, 50px);
  }
  25% {
    clip: rect(83px, 1000px, 39px, 50px);
  }
  30% {
    clip: rect(15px, 1000px, 31px, 50px);
  }
  35% {
    clip: rect(129px, 1000px, 89px, 50px);
  }
  40% {
    clip: rect(49px, 1000px, 17px, 50px);
  }
  45% {
    clip: rect(89px, 1000px, 72px, 50px);
  }
  50% {
    clip: rect(124px, 1000px, 144px, 50px);
  }
  55% {
    clip: rect(48px, 1000px, 36px, 50px);
  }
  60% {
    clip: rect(34px, 1000px, 47px, 50px);
  }
  65% {
    clip: rect(87px, 1000px, 110px, 50px);
  }
  70% {
    clip: rect(105px, 1000px, 97px, 50px);
  }
  75% {
    clip: rect(45px, 1000px, 110px, 50px);
  }
  80% {
    clip: rect(1px, 1000px, 105px, 50px);
  }
  85% {
    clip: rect(111px, 1000px, 78px, 50px);
  }
  90% {
    clip: rect(1px, 1000px, 52px, 50px);
  }
  95% {
    clip: rect(138px, 1000px, 102px, 50px);
  }
  100% {
    clip: rect(44px, 1000px, 15px, 50px);
  }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(12px, 1000px, 107px, 50px);
  }
  5% {
    clip: rect(150px, 1000px, 112px, 50px);
  }
  10% {
    clip: rect(146px, 1000px, 71px, 50px);
  }
  15% {
    clip: rect(46px, 1000px, 125px, 50px);
  }
  20% {
    clip: rect(40px, 1000px, 6px, 50px);
  }
  25% {
    clip: rect(107px, 1000px, 57px, 50px);
  }
  30% {
    clip: rect(68px, 1000px, 148px, 50px);
  }
  35% {
    clip: rect(117px, 1000px, 150px, 50px);
  }
  40% {
    clip: rect(138px, 1000px, 70px, 50px);
  }
  45% {
    clip: rect(1px, 1000px, 62px, 50px);
  }
  50% {
    clip: rect(104px, 1000px, 144px, 50px);
  }
  55% {
    clip: rect(29px, 1000px, 8px, 50px);
  }
  60% {
    clip: rect(143px, 1000px, 115px, 50px);
  }
  65% {
    clip: rect(21px, 1000px, 50px, 50px);
  }
  70% {
    clip: rect(110px, 1000px, 41px, 50px);
  }
  75% {
    clip: rect(51px, 1000px, 91px, 50px);
  }
  80% {
    clip: rect(132px, 1000px, 134px, 50px);
  }
  85% {
    clip: rect(16px, 1000px, 74px, 50px);
  }
  90% {
    clip: rect(100px, 1000px, 22px, 50px);
  }
  95% {
    clip: rect(66px, 1000px, 103px, 50px);
  }
  100% {
    clip: rect(62px, 1000px, 50px, 50px);
  }
}

/*
.glitch {
  position: relative;
  color: #56c9d6;
  mix-blend-mode: lighten;
}
.glitch:before, .glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  background: black;
  clip: rect(0, 0, 0, 0);
}
.glitch:before {
  left: -1px;
  text-shadow: 1px 0 rgba(255, 0, 0, 0.7);
}
.glitch:after {
  left: 1px;
  text-shadow: -1px 0 rgba(0, 0, 255, 0.7);
}
.glitch:hover:before {
  text-shadow: 4px 0 rgba(255, 0, 0, 0.7);
  animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
}
.glitch:hover:after {
  text-shadow: -5px 0 rgba(0, 0, 255, 0.7);
  animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse;
}

@-webkit-keyframes glitch-loop-1 {
  0% {
    clip: rect(36px, 9999px, 9px, 0);
  }
  25% {
    clip: rect(25px, 9999px, 99px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 102px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 92px, 0);
  }
  100% {
    clip: rect(91px, 9999px, 98px, 0);
  }
}

@keyframes glitch-loop-1 {
  0% {
    clip: rect(36px, 9999px, 9px, 0);
  }
  25% {
    clip: rect(25px, 9999px, 99px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 102px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 92px, 0);
  }
  100% {
    clip: rect(91px, 9999px, 98px, 0);
  }
}
@-webkit-keyframes glitch-loop-2 {
  0% {
    top: -1px;
    left: 1px;
    clip: rect(65px, 9999px, 119px, 0);
  }
  25% {
    top: -6px;
    left: 4px;
    clip: rect(79px, 9999px, 19px, 0);
  }
  50% {
    top: -3px;
    left: 2px;
    clip: rect(68px, 9999px, 11px, 0);
  }
  75% {
    top: 0px;
    left: -4px;
    clip: rect(95px, 9999px, 53px, 0);
  }
  100% {
    top: -1px;
    left: -1px;
    clip: rect(31px, 9999px, 149px, 0);
  }
}
@keyframes glitch-loop-2 {
  0% {
    top: -1px;
    left: 1px;
    clip: rect(65px, 9999px, 119px, 0);
  }
  25% {
    top: -6px;
    left: 4px;
    clip: rect(79px, 9999px, 19px, 0);
  }
  50% {
    top: -3px;
    left: 2px;
    clip: rect(68px, 9999px, 11px, 0);
  }
  75% {
    top: 0px;
    left: -4px;
    clip: rect(95px, 9999px, 53px, 0);
  }
  100% {
    top: -1px;
    left: -1px;
    clip: rect(31px, 9999px, 149px, 0);
  }
}*/

.homepage__main{
    height: 100vh;
}

.button-outer-box{
    margin:2% auto;
    display:inline-block;
}

.homepage__about-section{
    width:70%;
    margin:2% auto 0;
    background-color:#04c2fc11;
    background:transparent;
    display:block;
}


h2.about-heading {
  overflow: hidden;
  text-align: center;
  text-shadow: 0px 0px 50px 20px rgb(3, 121, 121),0px 0px 50px 30px #0ff;
}

h2.about-heading:before,
h2.about-heading:after {
    background-color: rgba(118, 223, 255, 0.877);
    content: "";
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    text-shadow: 0px 0px 50px 20px rgb(3, 121, 121),0px 0px 50px 30px #0ff;
}

h2.about-heading:before {
  right: 0.5em;
  margin-left: -50%;
}

h2.about-heading:after {
  left: 0.5em;
  margin-right: -50%;
}

.section-description{
    font-size:2.5vh;
    margin:3%;
    padding:2%;
    white-space: pre-line;
    word-break: break-word;
}

.about-heading{
    font-size:45px;
    margin:0 auto 5% auto;
    margin-bottom:3%;
    background-color: transparent;

}
.homebtn{
    border: 0 solid;
    padding:5% 20%;
    outline: 1px solid;
    outline-color: rgba(213, 247, 255, 0.644);
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    color:rgba(213, 247, 255, 0.712);
    background:rgba(34, 34, 34, 0.068);
    font-size:1.3rem;
    width:14vw;
    text-align: center;
    font-family:"rajdhani", sans-serif;
    width: 100%;
    text-align: center;
}

.homebtn:hover{
    border: 1px solid;
    padding:5% 20%;
    box-shadow: 0 0 10px rgba(116, 227, 255, 0.966), 0 0 20px rgba(43, 3, 95, 0.24);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color : rgba(213, 247, 255, 0.966);
}


#discord{
    background:rgba(115, 8, 255, 0.39);
    background: rgb(115, 121, 207);
    outline:none;
    color:rgba(10, 10, 10, 0.829);
    border-radius:5px;
    font-weight: 600;
     transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
     padding:4% 1%;
}

#DiscordLogo{
    width:30px;
    height:30px;
    margin:0px 5px;
    color:black;
}

#discord:hover{
    outline:none;
    color : rgba(233, 213, 255, 0.966);
}


#discord:hover .colorchange{
    filter: invert(85%) sepia(100%) saturate(7481%) hue-rotate(183deg) brightness(100%) contrast(100%);
}

.highlight{
    color: rgb(118, 223, 255);
}

.homepage__sponsors-section , .homepage__rules-section{
    margin-top:2%;
    background:transparent;
}

.sponsors-section,.Rules-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}

.sponsors-section a{
    margin:2%;
    align-items: center;
    display: flex;
    justify-content: center;
}
#ieeelink{
    margin:2% 20%;
}
#ieeelogo{
    width:30rem;
}
#ieeelogo h3{
    font-weight: 700;
    font-size:40px;
}

.bullet{
    height:15px;
    width:15px;
}

.sponsor-tiles
{
    width:16rem;
    padding:1%;
    justify-content: center;
    background:transparent;
    opacity:0.5;
    transition: 0.3s ease-in-out;
    border:none;
    filter: saturate(0) brightness(2);
    box-shadow: none;
    color:#eee;
}

.sponsor-tiles:hover{
    opacity:1;
    transform:scale(1.1);
    filter:none;
}

.footer{
    margin:5% auto;
    margin-bottom:1%;
    width: 100%;
    background-color:transparent;
    justify-content: center;
    border-top: rgba(118, 223, 255, 0.877) 2px solid;
    border-bottom: rgba(118, 223, 255, 0.877) 2px solid;
    padding:1%;
    color:rgba(255, 255, 255, 0.6);
}
.contact-info h2, .social-panel h2{
    color:rgb(255, 255, 255);
}
.contact-info ul{
    list-style: none;
    padding:0;
}

.site-nav li a{
    color:rgba(255, 255, 255, 0.527);
    text-decoration: none;
}
.copyright{
    text-align:center;
    font-size:22px;
}
.social-logos{
    height:35px;
    width:35px;
    margin: 80px 30px;
}

.homepage__top{
    min-height: 100vh;
}
#footer_logo{
    width: 400px;
}


@media (max-width: 1260px) {
    .social-logos{
        margin: 90px 1vw;
    }
}

/*##### mobile view ###### */
@media only screen and (max-width: 767px) {
    #DiscordLogo__text{
        display: none;
    }
    .logo{
        margin: 30% 0;
    }
    #symbol{
        height: 70px;
        width: auto;
        margin-right: 10px;
    }
    .center__text{
        font-size: 6vw;
    }
    .social-logos{
        margin: 20px 10px;
    }
    #footer_logo{
        width: 95vw;
    }
}

/**
@author: TejasV58, samankgupta
**/